<!doctype html>
<ol>
	{{#each notes}}
		<li>
			{{this}}
		</li>
	{{/each}}
</ol>
<form method="post">
	<input type="hidden" name="$state-update-logic" value="state.notes.push(form_data.note)">
	<input type="text" name="note">
	<input type="submit">
</form>
